@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.swiper {
  width: 100%;
}
.swiper-slide {
  width: 292px;
  height: 408px;
}

.custom-tooltip {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.cutomed-arrow-of-tooltip {
  margin-left: -80%;
}
